@import "tailwindcss";

:root {
  --background: #00121c;
  --foreground: #b3bdd8;
  --primary: #5f0404;

  --title: 32px;
  --nav: 30px;
  --body: 20px;
  --small: 14px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
  font-size: var(--body);
}
