@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0c10;
  --foreground: #c7ccd4;
  --primary: #9f1d2d;

  --title: 2.5em;
  --nav: 2em;
  --body: 1.44em;
  --small: 0.9em;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer components {
  .button-border {
    border: 2px solid var(--foreground);
    border-radius: 0.75rem;
  }
  .x-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    column-gap: 1.25rem;
    
    /* Firefox */
    scrollbar-width: none;

    /* Chrome, Edge, Safari */
    -ms-overflow-style: none; /* IE 10+ */
  }
}

*::selection {
  background-color: var(--primary); 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--rd-text), sans-serif;
  font-size: var(--body);
}

h1, h2, p, small {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

h1 {
  font-size: var(--title);
}

h2 {
  text-align: center;
  font-size: var(--nav);
}

.projectList {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.sidegrid {
  display: flex ;
  flex-direction: column;
  width: 15rem;
  height: 100%;
  align-items: center;
  gap: 5;
}

.sidegrid-content {
  height: 100%;
  width: 100%;
}

p {
  /* font-size: var(--body); */
}

small {
  font-size: var(--small);
}

button {
  transition: 200ms ease-in-out;

  &:hover {
    color: var(--primary);
  }
}

nav {
  padding: 0px 1dvw;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: 200ms ease-in-out;

  &:hover {
    color: var(--primary);
  }
}

::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 800px) {
  .projectList {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (max-width: 700px) {

  :root {
    --title: 2.5em;
    --nav: 1.8em;
    --sub-nav: 1.2em;
    --body: 1em;
    --small: 0.9em;
  }

  nav {
    padding: 0px 2dvw;
  }

  .bodygrid {
    flex-direction: column;
  }

  .sidegrid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    z-index: 90;
    backdrop-filter: blur(16px);
  }

  .sidegrid-content {
    width: 70%;
    height: 80%;
    background-color: var(--background);
  }
}